<!--Citation for booksCheckouts.hbs:
Date: 05/17/2024
Copied steps 4 and 5 from nodejs-starter-app
Authors (github username): gkochera, Cortona1, currym-osu, dmgs11
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
-->

<!-- display booksCheckouts using a table-->
{{!-- Create a table --}}
<h2>Books in Checkouts</h2>
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the booksCheckoutsID, bookID, checkoutID, and dateReturned in order --}}
        {{#each data}}
        <tr>
            <td>{{this.booksCheckoutsID}}</td>
            <td>{{this.bookID}}</td>
            <td>{{this.checkoutID}}</td>
            <td>{{this.dateReturned}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



<!-- INSERT a new bookCheckout using an HTML form with POST 
Gather book and checkout with input from dropdown fields 
Gather dateReturned as date input-->
<h2>Add a Book to a Checkout</h2>
<p>To add a book to a checkout, please enter its information below and click `Submit`!</p>
<form id="add-bookCheckout-form" method="POST" action="/add-bookCheckout-form">
    <label for="input-book">Book: </label>
    <select name="input-book" id="input-book-ajax">
        <option value="">Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.bookTitle}}</option>
        {{/each}}
    </select>
    
    <label for="input-checkout">Checkout: </label>
    <select name="input-checkout" id="input-checkout-ajax">
        <option value="">Select a Checkout</option>
        {{#each checkouts}}
        <option value="{{this.checkoutID}}">{{this.checkoutID}}</option>
        {{/each}}
    </select>

    <label for="input-dateReturned">Date returned: </label>
    <input type="date" name="input-dateReturned" id="input-dateReturned">

    <input type="submit">
</form>