<h2>Checkouts</h2>
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.checkoutID}}</td>
            <td>{{this.member}}</td>
            <td>{{this.employee}}</td>
            <td>{{this.dateCheckedOut}}</td>
            <td>{{this.dateDue}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



<h2>Checked Out Books</h2>
{{!--display all checked out books --}}
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each checkedOutBooks.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each checkedOutBooks}}
        <tr>
            <td>{{this.checkoutID}}</td>
            <td>{{this.bookTitle}}</td>
            <td>{{this.dateReturned}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>





<!-- /views/checkouts.hbs -->
<h2>Add a new Checkout</h2>
<p>To add a new checkout, please enter its information below and click `Submit`!</p>
<form id="add-checkout-form" method="POST" action="/add-checkout-form">
    <label for="input-member">Member: </label>
    <select name="input-member" id="input-member-ajax">
        <option value="">Select a Member</option>
        {{#each members}}
        <option value="{{this.memberID}}">{{this.memberLastName}}</option>
        {{/each}}
    </select>
    
    <label for="input-employee">Employee: </label>
    <select name="input-employee" id="input-employee-ajax">
        <option value="">Select an Employee</option>
        {{#each employees}}
        <option value="{{this.employeeID}}">{{this.employeeLastName}}</option>
        {{/each}}
    </select>

    <label for="input-dateCheckedOut">Date checked out: </label>
    <input type="date" name="input-dateCheckedOut" id="input-dateCheckedOut">

    <label for="input-dateDue">Date due: </label>
    <input type="date" name="input-dateDue" id="input-dateDue">

    <input type="submit">
</form>