{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.memberID}}</td>
            <td>{{this.memberFirstName}}</td>
            <td>{{this.memberLastName}}</td>
            <td>{{this.memberEmail}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- /views/members.hbs -->
<h2>Add a new Member</h2>
<p>To add a new member, please enter its information below and click `Submit`!</p>
<form id="add-member-form" method="POST" action="/add-member-form">
    <label for="input-memberFirstName">First name: </label>
    <input type="text" name="input-memberFirstName" id="input-memberFirstName">
    
    <label for="input-memberLastName">Last name: </label>
    <input type="text" name="input-memberLastName" id="input-memberLastName">

    <label for="input-memberEmail">Email: </label>
    <input type="text" name="input-memberEmail" id="input-memberEmail">

    <input type="submit">
</form>